<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<nav>
    <a [routerLink]="['/home']" routerLinkActive="active" ><i class="fa fa-fw fa-home"></i>Home</a>
    <a [routerLink]="['/calculadora']" routerLinkActive="active" ><i class="fa fa-fw fa-calculator"></i>Calculadora</a>
    <a [routerLink]="['/readMeGen']" routerLinkActive="active" ><i class="fa fa-fw fa-cloud"></i>ReadMeGenerator</a>
    <a [routerLink]="['/experiments']" routerLinkActive="active" ><i class="fa fa-fw fa-user"></i>Experiments</a>
    <a [routerLink]="['/evAndRef']" routerLinkActive="active" ><i class="fa fa-fw fa-shield"></i>EvAndRef</a>
    <a [routerLink]="['/ficha-animal']" routerLinkActive="active" ><i class="fa fa-fw fa-animal"></i>FichaAnimal</a>
</nav>



